@mixin information {
  display: block;
  margin: 1em;
  padding: 0.125em 0.25em;
  line-height: 1.5em;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 4px;
  strong {
    display: block;
  }
  p {
    text-align: center;
  }
}

/* Inline styles to be included directly in index.html.
 ****************************************************************************/

noscript, #no-modern-scripts, #no-fonts-loaded {
  @include information;
}

.js noscript {
  display: none;
}

#no-fonts-loaded {
  display: none;
}

.error-no-fonts-loaded {
  #no-fonts-loaded {
    display: block;
  }
  #spinner {
    display: none;
  }
}

.no-js, .mustard {
  #no-modern-scripts {
    display: none;
  }
}
.no-mustard {
  #no-modern-scripts {
    display: block;
  }
}

.no-js, .no-mustard {
  #spinner {
    display: none;
  }
}

.no-ampersands #spinner {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMCAxMDAiPjxnPjxsaW5lYXJHcmFkaWVudCBpZD0iSUQxIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAiIHkxPSI1MCIgeDI9IjEwMCIgeTI9IjUwIj48c3RvcCBvZmZzZXQ9IjAuMzMiIHN0eWxlPSJzdG9wLWNvbG9yOiNGRkZGRkYiLz48c3RvcCBvZmZzZXQ9IjEiIHN0eWxlPSJzdG9wLWNvbG9yOiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIGZpbGw9InVybCgjSUQxKSIgZD0iTTUwLDBDMjIuMzg2LDAsMCwyMi4zODYsMCw1MGMwLDI3LjYxNCwyMi4zODYsNTAsNTAsNTBzNTAtMjIuMzg2LDUwLTUwQzEwMCwyMi4zODYsNzcuNjE0LDAsNTAsMHoNCk01MCw5MGMtMjIuMDkxLDAtNDAtMTcuOTA5LTQwLTQwYzAtMjIuMDkxLDE3LjkwOS00MCw0MC00MHM0MCwxNy45MDksNDAsNDBDOTAsNzIuMDkxLDcyLjA5MSw5MCw1MCw5MHoiLz4NCjwvZz48L3N2Zz4NCg==);
  z-index: 1;
  transition: all 0.75s ease 0s;
  animation: standard 0.75s infinite linear;
  transform-origin: center;
}

.blank {
  font-family: AdobeBlank;
}

.ampersand-ui {
  position: absolute;
  top: -9999px;
}
